:root {
    --solid-black-border: 1px solid black;
    --height: auto;
    --width-600: 600px;
    --text-align: center;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main {
    max-width: var(--width-600);
    padding: 10px;
}

main img {
    width: 150px;
    height: var(--height);
    border: var(--solid-black-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0px;
}

aside {
    width: var(--width-600);    
    text-align: var(--text-align);
    position: relative;
}

aside img {
    width: 200px;
    height: var(--height);
}

aside h2 {
    position: absolute;
    top: 7px;
    left: 250px;
}

footer {
    margin-top: 25px;
    border-top: var(--solid-black-border);
    text-align: var(--text-align);
}

/* Class Selectors */
.box {
    margin: 1 rem;
    border: var(--solid-black-border);
    padding: 1 rem;
    background-color: #fff;
    color: black;
}