:root {
    --solid-black-border: 1px solid black;
    --height: auto;
    --width-600: 600px;
    --text-align: center;

}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main {
    max-width: var(--width-600);
}

main img {
    width: 150px;
    height: var(--height);
    border: var(--solid-black-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: var(--width-600);
    margin: 0 auto;
    text-align: var(--text-align);
    border: var(--solid-black-border);
    padding: 5px;
    background-color: #131;
    color: white;
}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: 25px;
    border-top: var(--solid-black-border);
    text-align: var(--text-align);
}